@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --ff-primary: 'Oswald', sans-serif;
  --ff-secondary: 'Quicksand', sans-serif;
  /* colors */
  --clr-base: #191724;
  --clr-surface: #1f1d2e;
  --clr-overlay: #26233a;
  --clr-overlay-lt: #302c49;
  --clr-text: #e0def4;
  --clr-love: #eb6f92;
  --clr-gold: #f6c177;
  --clr-rose: #ebbcba;
  --clr-pine: #31748f;
  --clr-foam: #9ccfd8;
  --clr-iris: #c4a7e7;
  --clr-hl-low: #21202e;
  --clr-hl-high: #524f67;
  /* width */
  --width: 87%;
  --max-width: 72rem;
  /* border */
  --border-container: 1px solid var(--clr-hl-high);
  --border-link-absolute: 5px solid var(--clr-base);
  /* border-radius */
  --br-s: 5px;
  --br-m: 10px;
  --br-l: 15px;
  /* transition */
  --tr-gentle: ease-in 250ms all;
  --tr-gentle-out: ease-in-out 250ms all;
  --tr-slow: 700ms all linear;
}

body {
  color: var(--clr-text);
  line-height: 1.5;
  font-family: var(--ff-secondary);
  background-color: var(--clr-base);
}

h1,
h2,
h3 {
  font-family: var(--ff-primary);
}

a {
  color: var(--clr-iris);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.img-container {
  width: auto;
  /* display: inline-block; */
  background-color: var(--clr-text);
  border-radius: var(--br-m);
  padding: 0.9375rem;
}

.link-btn {
  position: relative;
  color: var(--clr-base);
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--clr-text);
  padding: 1.25rem 1.875rem;
  border-radius: 0.3125rem;
}

.link-btn:hover {
  text-decoration: none;
}

.link-btn--primary {
  padding-left: 4.375rem;
}

.link-btn--primary::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 2.5rem;
  height: 3.75rem;
  background-color: var(--clr-gold);
  border-right: 3px solid var(--clr-base);
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
}

.link-btn:hover .link-btn__icon {
  transform: scale(1.075);
  transition: var(--tr-gentle-out);
}

.link-btn__icon {
  position: absolute;
  top: 1.09375rem;
  left: 0.78rem;
  height: 1.5625rem;
}

.link-btn__icon circle {
  fill: var(--clr-base);
}

.link-btn__icon path {
  fill: var(--clr-text);
}

.link {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--clr-gold);
  background-color: var(--clr-overlay);
  padding: 10px 30px;
  border-radius: 5px;
  transition: var(--tr-gentle);
}

.link:hover {
  text-decoration: none;
  background-color: hsla(248, 25%, 18%, 0.5);
}

.link svg {
  fill: var(--clr-gold);
  height: 1rem;
  transition: var(--tr-gentle);
}

.link:hover svg {
  transform: translateX(0.25rem);
}

.header {
  width: var(--width);
  max-width: var(--max-width);
  height: 4.5rem;
  position: relative;
  display: flex;
  gap: 9.375rem;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 1.5rem;
  border: 3px solid var(--clr-hl-high);
  border-radius: 1rem;
  margin-block: 2rem;
  margin-inline: auto;
}

.header__logo-container {
  position: absolute;
  top: -3px;
  left: -3px;
  display: flex;
  align-items: center;
  background-color: var(--clr-text);
  width: 8rem;
  height: 4.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.header__logo-container::before {
  position: absolute;
  top: 0;
  left: 3rem;
  content: '';
  width: 0.3125rem;
  height: 4.5rem;
  background-color: var(--clr-base);
}

.header__logo {
  z-index: 1;
}

.header__logo svg {
  width: 8rem;
  height: 2rem;
}

.header__hamburger-btn {
  width: 2rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-color: transparent;
  border-radius: var(--br-s);
  transition: var(--tr-gentle);
}

.header__hamburger-btn:hover {
  background-color: var(--clr-hl-low);
}

.header__hamburger-btn:focus {
  outline: 3px solid var(--clr-foam);
}

.header__hamburger-btn svg {
  width: 1.25rem;
  aspect-ratio: 1 / 1;
  color: var(--clr-text);
  fill: var(--clr-text);
}

.header__hamburger-btn svg:last-of-type {
  display: none;
}

.header__hamburger-btn--close svg:first-of-type {
  display: none;
}

.header__hamburger-btn--close svg:last-of-type {
  display: block;
}

@media screen and (min-width: 1024px) {
  .header {
    height: 7.5rem;
    padding-inline: 23.875rem 1.25rem;
    margin-block: 3.75rem;
  }

  .header__logo-container {
    width: 33.33%;
    height: 7.5rem;
    padding-inline: 1.25rem;
  }

  .header__logo-container::before {
    left: 4.1rem;
    height: 7.5rem;
  }

  .header__logo svg {
    height: 3.75rem;
  }

  .header__hamburger-btn {
    display: none;
  }
}

.nav {
  align-items: center;
}

.header .nav {
  width: 15rem;
  position: absolute;
  top: 120%;
  right: 0;
  display: none;
  background-color: var(--clr-surface);
  padding: 1rem;
  border: var(--border-container);
  border-radius: var(--br-l);
}

.header .nav--display {
  display: block;
}

@media screen and (min-width: 1024px) {
  .header .nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: auto;
    right: auto;
    background-color: transparent;
    border: transparent;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

@media screen and (min-width: 1024px) {
  .nav__list {
    flex-direction: row;
    align-items: center;
  }
}

.nav__link {
  display: block;
  text-transform: uppercase;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.3125rem;
  transition: var(--tr-gentle);
}

.nav__link:hover {
  text-decoration: none;
  background-color: var(--clr-overlay);
}

@media screen and (min-width: 1024px) {
  .nav__link {
    display: inline-block;
  }

  .nav__link:hover {
    background-color: var(--clr-surface);
  }
}

.nav__link-btn {
  display: flex;
  gap: 0.5rem;
  background-color: var(--clr-surface);
  padding: 0.625rem 1rem;
  border: 1px solid var(--clr-hl-high);
  border-radius: 0.3125rem;
  margin-block: auto;
  transition: var(--tr-gentle);
}

.nav__link-btn:hover {
  background-color: var(--clr-overlay);
  text-decoration: none;
}

.nav__link-btn svg {
  width: 1rem;
  fill: var(--clr-hl-high);
}

@media screen and (min-width: 1024px) {
  .nav__link-btn {
    display: inline-flex;
    padding: 0.625rem 1.875rem;
  }
}

.hero {
  width: var(--width);
  max-width: var(--max-width);
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  padding-right: 1.25rem;
  margin-inline: auto;
  margin-bottom: 8.75rem;
}

.hero__subtitle {
  color: var(--clr-iris);
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.hero__title {
  font-size: 6.25rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 2rem;
}

.hero__copy {
  width: 17.8125rem;
  margin-bottom: 3.5rem;
}

.hero__illustration {
  width: 62.5%;
  display: none;
}

.hero__illustration svg {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-right: 0;
  }

  .hero__illustration {
    display: block;
  }
}

.about {
  width: var(--width);
  max-width: var(--max-width);
  display: grid;
  gap: 2rem;
  grid-template-columns: auto;
  background-color: var(--clr-surface);
  padding-block: 3.8125rem;
  padding: 2rem 1.25rem 3.5rem 1.25rem;
  border: 1px solid var(--clr-hl-high);
  border-radius: 0.9375rem;
  margin-inline: auto;
  margin-bottom: 8.75rem;
}

@media screen and (min-width: 992px) {
  .about {
    gap: 2rem 0rem;
    grid-template-columns: 21.875rem 1fr;
    padding-inline: 2rem;
  }
}

@media screen and (min-width: 1152px) {
  .about {
    gap: 2rem 6.5rem;
    grid-template-columns: 21.875rem 1fr;
    padding-inline: 7.5625rem 8.8125rem;
  }
}

.about__title {
  grid-column: 1 / 2;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 3.125rem;
    grid-column: 1 / 3;
  }
}

.about .img-container {
  aspect-ratio: 1 / 1;
  max-width: 20rem;
}

.about__img {
  width: 100%;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
}

.about__copy {
  line-height: 1.25;
}

.skills {
  margin-bottom: 8.75rem;
}

.skills__title {
  font-size: 3.125rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.skills__grid {
  max-width: 49.125rem;
  display: flex;
  gap: 1.125rem;
  flex-wrap: wrap;
  margin-inline: auto;
}

.skill {
  width: calc((100% - 2.25rem) / 3);
  aspect-ratio: 1 / 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clr-hl-high);
  border-radius: var(--br-s);
  transition: var(--tr-gentle);
}

.skill svg {
  height: 30%;
  fill: var(--clr-text);
}

.skill svg g {
  fill: var(--clr-text);
}

.skill:hover {
  background-color: var(--clr-overlay);
  border-color: var(--clr-overlay);
}

.skill:nth-of-type(1):hover svg,
.skill:nth-of-type(6):hover svg g,
.skill:nth-of-type(8):hover svg {
  fill: var(--clr-foam);
}

.skill:nth-of-type(2):hover svg,
.skill:nth-of-type(4):hover svg,
.skill:nth-of-type(9):hover svg {
  fill: var(--clr-rose);
}

.skill:nth-of-type(3):hover svg,
.skill:nth-of-type(5):hover svg,
.skill:nth-of-type(7):hover svg {
  fill: var(--clr-iris);
}

.projects {
  max-width: 77.25rem;
  margin-inline: auto;
  margin-bottom: 9.5rem;
}

.projects__title {
  font-size: 3.125rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.projects__container {
  display: flex;
  gap: 1.25rem;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  background-color: var(--clr-surface);
  padding-block: 3.75rem 5.4375rem;
  padding-block: 3.75rem 4rem;
  padding-inline: 2.8125rem;
  border-radius: var(--br-m);
  transition: var(--tr-gentle-out);
}

.project__subtitle-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.25rem;
}

.project__num {
  display: block;
  color: var(--clr-text);
  font-size: 1.5625rem;
  font-weight: 800;
}

.project__subtitle {
  color: var(--clr-foam);
  font-weight: 800;
  text-transform: uppercase;
}

.project__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  border: 3px solid var(--clr-hl-high);
  border-radius: var(--br-s);
}

.project__icon svg {
  height: 1.25rem;
  fill: var(--clr-text);
}

.project__img-container {
  margin-bottom: 2.25rem;
}

.project__img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.project__title {
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project__copy {
  margin-bottom: 2.25rem;
}

.project__tags {
  display: flex;
  gap: 0.75rem;
}

.project__tag {
  color: var(--clr-base);
  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--clr-foam);
  border-radius: 100vh;
  border-radius: var(--br-s);
  padding: 0.625rem 1.125rem;
  padding: 5px 10px;
}

.project__links {
  position: absolute;
  bottom: -1.5rem;
  display: flex;
  gap: 1rem;
}

.link--project {
  background-color: var(--clr-overlay);
  padding-inline: 1rem;
  border: 5px solid var(--clr-base);
  border-radius: 10px;
}

.link--project svg {
  fill: var(--clr-iris);
  transition: var(--tr-gentle);
}

.link--project:hover svg {
  transform: translateX(0);
  transform: translateY(-20%);
}

.link--project:hover {
  background-color: var(--clr-overlay);
}

.contact {
  position: relative;
  max-width: 70rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-surface);
  padding-block: 2rem 3.5rem;
  border: 1px solid var(--clr-hl-high);
  border-radius: var(--br-m);
  margin-inline: auto;
  margin-bottom: 4rem;
}

.contact__title {
  font-size: 3.125rem;
  color: var(--clr-foam);
}

.contact__copy {
  width: 80%;
  max-width: 35rem;
  text-align: center;
}

.contact__link {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  border: var(--border-link-absolute);
  border-radius: var(--br-m);
}

.contact__link:hover {
  background-color: var(--clr-overlay-lt);
}

.contact__link:hover svg {
  transform: translate(0.1rem, -0.1rem);
}

.footer {
  position: relative;
  border: var(--border-container);
  background-color: var(--clr-surface);
}

@media screen and (min-width: 1024px) {
  .footer::before,
  .footer::after {
    content: '';
    position: absolute;
    top: -115%;
    width: 6.375rem;
    height: 10rem;
    background-color: var(--clr-surface);
    border: var(--border-container);
    border-bottom: none;
  }

  .footer::before {
    border-left: none;
    border-top-right-radius: var(--br-l);
  }

  .footer::after {
    right: 0;
    border-right: none;
    border-top-left-radius: var(--br-l);
  }
}

.footer__container {
  width: 85%;
  max-width: 72rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2.5rem;
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer .nav__list {
    gap: 2rem;
  }
}

.footer .nav__link {
  padding-inline: 0;
}

.footer .nav__link:hover {
  text-decoration: underline;
  background-color: transparent;
}

.footer__copy {
  font-size: 0.625rem;
  line-height: 2;
  text-transform: uppercase;
}
